# Pandas tutorial (Day-11)

## This notebook explains:
1-

In [3]:
#import libraries
import pandas as pd
import numpy as np

In [6]:
#object creation (like make a series and understanding of pandas defined functions)
s= pd.Series([1,2,3,4,np.nan,5]) #nan represet empty cell
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
dtype: float64

In [10]:
date= pd.date_range("20150101", periods=6) #how to create date series using pd.date
date

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
date= pd.date_range("20150101", periods=6) #dataframe mean like an excelsheet creation
df=pd.DataFrame(np.random.randn(6,4), index=date, columns=list('ABCD'))
df

                   A         B         C         D
2015-01-01 -0.294337  0.178182 -1.673022 -0.537176
2015-01-02 -0.149059 -1.785379  1.192904  0.731790
2015-01-03 -1.996387 -0.974841 -0.273624 -0.504107
2015-01-04  0.729100  0.080074  0.456465 -0.404940
2015-01-05 -2.461540  0.266605 -0.581373 -0.732954
2015-01-06  1.329315  0.144779 -0.891456  0.481366

In [24]:
#how to make like dictionary  #data fram dictionary
df2= pd.DataFrame(
    {
        "a":1.0,
        "b":pd.Timestamp("20150102"),
        "c":pd.Series(1, index=list(range(5)), dtype="float32"),
        "d":np.array([3]*5, dtype="int32"),
        "e":pd.Categorical(["girl","women","men","boy","child"]),
        "f":"Gender",
        
    }

)

In [25]:
df2

     a          b    c  d      e       f
0  1.0 2015-01-02  1.0  3   girl  Gender
1  1.0 2015-01-02  1.0  3  women  Gender
2  1.0 2015-01-02  1.0  3    men  Gender
3  1.0 2015-01-02  1.0  3    boy  Gender
4  1.0 2015-01-02  1.0  3  child  Gender

In [26]:
df2.dtypes

a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

In [27]:
df.head(2) #showing start of data

                   A         B         C         D
2015-01-01 -0.294337  0.178182 -1.673022 -0.537176
2015-01-02 -0.149059 -1.785379  1.192904  0.731790

In [28]:
df.tail(2) #showing last part of data

                   A         B         C         D
2015-01-05 -2.461540  0.266605 -0.581373 -0.732954
2015-01-06  1.329315  0.144779 -0.891456  0.481366

In [30]:
df2.index #index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [31]:
df2.to_numpy() #converting into array

array([[1.0, Timestamp('2015-01-02 00:00:00'), 1.0, 3, 'girl', 'Gender'],
       [1.0, Timestamp('2015-01-02 00:00:00'), 1.0, 3, 'women', 'Gender'],
       [1.0, Timestamp('2015-01-02 00:00:00'), 1.0, 3, 'men', 'Gender'],
       [1.0, Timestamp('2015-01-02 00:00:00'), 1.0, 3, 'boy', 'Gender'],
       [1.0, Timestamp('2015-01-02 00:00:00'), 1.0, 3, 'child', 'Gender']],
      dtype=object)

In [34]:
df2.describe() #calculatinf statitics

         a    c    d
count  5.0  5.0  5.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [35]:
df2.T #transpose

,0,1,2,3,4
a,1,1,1,1,1
b,2015-01-02 00:00:00,2015-01-02 00:00:00,2015-01-02 00:00:00,2015-01-02 00:00:00,2015-01-02 00:00:00
c,1,1,1,1,1
d,3,3,3,3,3
e,girl,women,men,boy,child
f,Gender,Gender,Gender,Gender,Gender

In [36]:
df2.sort_index(axis=0, ascending=True) #ascending and decsing order

     a          b    c  d      e       f
0  1.0 2015-01-02  1.0  3   girl  Gender
1  1.0 2015-01-02  1.0  3  women  Gender
2  1.0 2015-01-02  1.0  3    men  Gender
3  1.0 2015-01-02  1.0  3    boy  Gender
4  1.0 2015-01-02  1.0  3  child  Gender

In [38]:
##importing dataset
data=pd.read_csv("Chilla_data2.csv")
data.head()

,Gender,Location,Age,Qualification_completed,field_of_study,Purpose_for_chilla,What are you?,Blood group,Which mobile sim do you use,Prepaid or Postpaid,...,Your favorite programming language?,Marital Status?,Are you Vaccinated?,Where do you live?,Research/Working experience (Float/Int) years,Age (years)-Float/Int,Your Weight in kg? (float),Height in cm? Freelancer- (Float),"How many hours you code a day? (int) e.g: 5,4,3",Light kitni der band hti hy? int
0,Male,Pakistan,36-40,Masters,Natural Sciences,to boost my skill set,Unemplyed,B+,U-fone,Prepaid,...,Python,Yes,Yes,Urbun,5,38.00,77.0,179.000,3.0,2.0
1,Male,Pakistan,26-30,Bachelors,CS/IT,to boost my skill set,Student,B+,U-fone,Prepaid,...,Python,No,Yes,Urbun,1,25.00,53.6,178.000,2.0,6.0
2,Male,Pakistan,31-35,Masters,Enginnering,Switch my field of study,Employed,B+,Zong,Prepaid,...,Python,Yes,Yes,Urbun,5.5,31.34,93.0,173.000,2.0,0.0
3,Female,Pakistan,31-35,Masters,CS/IT,to boost my skill set,Employed,O+,U-fone,Postpaid,...,Python,Yes,Yes,Urbun,5,33.00,60.0,157.000,3.0,24.0
4,Female,Pakistan,26-30,Masters,Enginnering,to boost my skill set,Student,A-,Mobilink,Prepaid,...,Javascript,No,Yes,Rural,3.5,27.00,59.9,164.544,6.0,12.0

In [42]:
data.sort_index(axis=1, ascending=False)

,field_of_study,Your favorite programming language?,Your Weight in kg? (float),Which mobile sim do you use,Which PC are you using?,Where do you live?,When did you write your first line of code?,What are you?,Research/Working experience (Float/Int) years,Qualification_completed,...,Location,Light kitni der band hti hy? int,"How many hours you code a day? (int) e.g: 5,4,3",Height in cm? Freelancer- (Float),Gender,Do you wear glasses?,Blood group,Are you Vaccinated?,Age (years)-Float/Int,Age
0,Natural Sciences,Python,77.0,U-fone,Apna Laptop,Urbun,>3 years ago,Unemplyed,5,Masters,...,Pakistan,2.0,3.0,179.000,Male,No,B+,Yes,38.00,36-40
1,CS/IT,Python,53.6,U-fone,Apna Laptop,Urbun,>3 years ago,Student,1,Bachelors,...,Pakistan,6.0,2.0,178.000,Male,No,B+,Yes,25.00,26-30
2,Enginnering,Python,93.0,Zong,Apna Laptop,Urbun,>3 years ago,Employed,5.5,Masters,...,Pakistan,0.0,2.0,173.000,Male,Yes,B+,Yes,31.34,31-35
3,CS/IT,Python,60.0,U-fone,Apna Laptop,Urbun,<3 years ago,Employed,5,Masters,...,Pakistan,24.0,3.0,157.000,Female,No,O+,Yes,33.00,31-35
4,Enginnering,Javascript,59.9,Mobilink,Apna Laptop,Rural,In this chilla,Student,3.5,Masters,...,Pakistan,12.0,6.0,164.544,Female,Yes,A-,Yes,27.00,26-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,Enginnering,R,70.5,Telenor,Apna Laptop,Rural,In this chilla,Employed,7,Masters,...,Pakistan,3.0,4.0,178.500,Male,Yes,O+,Yes,28.00,26-30
371,Enginnering,Python,83.4,Zong,Apna Laptop,Urbun,>3 years ago,Employed,5,Bachelors,...,Pakistan,1.0,1.0,172.700,Male,Yes,A+,Yes,33.00,31-35
372,CS/IT,Python,60.0,Mobilink,Apna Laptop,Urbun,>3 years ago,Employed,0,Bachelors,...,Pakistan,0.0,0.0,1.680,Male,No,O+,Yes,22.80,21-25
373,Enginnering,Python,86.0,Mobilink,Apna Laptop,Urbun,<3 years ago,Employed,2,Masters,...,Pakistan,1.0,2.0,180.000,Male,No,B-,No,29.00,26-30
374,Mathematics,Python,54.5,Telenor,Apna Laptop,Urbun,In this chilla,Unemplyed,3,Masters,...,Pakistan,0.0,3.0,161.544,Female,Yes,B+,Yes,31.00,31-35

In [41]:
data.T #transpose on chilla_class data

,0,1,2,3,4,5,6,7,8,9,...,365,366,367,368,369,370,371,372,373,374
Gender,Male,Male,Male,Female,Female,Male,Male,Male,Male,Male,...,Male,Female,Male,Male,Male,Male,Male,Male,Male,Female
Location,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,West,Pakistan,West,...,West,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan,Pakistan
Age,36-40,26-30,31-35,31-35,26-30,36-40,21-25,26-30,21-25,21-25,...,26-30,21-25,21-25,26-30,21-25,26-30,31-35,21-25,26-30,31-35
Qualification_completed,Masters,Bachelors,Masters,Masters,Masters,Masters,Masters,Bachelors,Bachelors,Bachelors,...,Masters,Masters,Bachelors,Masters,Bachelors,Masters,Bachelors,Bachelors,Masters,Masters
field_of_study,Natural Sciences,CS/IT,Enginnering,CS/IT,Enginnering,Others,Enginnering,CS/IT,CS/IT,Natural Sciences,...,Enginnering,Others,Enginnering,Mathematics,CS/IT,Enginnering,Enginnering,CS/IT,Enginnering,Mathematics
Purpose_for_chilla,to boost my skill set,to boost my skill set,Switch my field of study,to boost my skill set,to boost my skill set,Switch my field of study,to boost my skill set,to boost my skill set,to boost my skill set,to boost my skill set,...,to boost my skill set,Switch my field of study,to boost my skill set,to boost my skill set,to boost my skill set,to boost my skill set,to boost my skill set,to boost my skill set,to boost my skill set,Switch my field of study
What are you?,Unemplyed,Student,Employed,Employed,Student,Employed,Student,Student,Unemplyed,Student,...,Student,Unemplyed,Unemplyed,Student,Employed,Employed,Employed,Employed,Employed,Unemplyed
Blood group,B+,B+,B+,O+,A-,B+,O+,AB+,O+,B+,...,B+,B+,A+,B+,AB-,O+,A+,O+,B-,B+
Which mobile sim do you use,U-fone,U-fone,Zong,U-fone,Mobilink,Mobilink,Mobilink,International,Zong,Mobilink,...,International,U-fone,Zong,Telenor,Mobilink,Telenor,Zong,Mobilink,Mobilink,Telenor
Prepaid or Postpaid,Prepaid,Prepaid,Prepaid,Postpaid,Prepaid,Prepaid,Prepaid,Prepaid,Prepaid,Prepaid,...,Prepaid,Prepaid,Prepaid,Postpaid,Prepaid,Prepaid,Postpaid,Prepaid,Prepaid,Prepaid
Which PC are you using?,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Kisi ka laptop,Apna Laptop,Apna Laptop,Apna Laptop,...,Apna Laptop,Kisi ka laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop,Apna Laptop
Do you wear glasses?,No,No,Yes,No,Yes,Yes,Yes,No,No,No,...,No,No,Yes,No,No,Yes,Yes,No,No,Yes
When did you write your first line of code?,>3 years ago,>3 years ago,>3 years ago,<3 years ago,In this chilla,<3 years ago,In this chilla,>3 years ago,>3 years ago,<3 years ago,...,>3 years ago,In this chilla,In this chilla,>3 years ago,<3 years ago,In this chilla,>3 years ago,>3 years ago,<3 years ago,In this chilla
Your favorite programming language?,Python,Python,Python,Python,Javascript,Javascript,Python,Python,Python,Python,...,Python,Python,Python,Python,Python,R,Python,Python,Python,Python
Marital Status?,Yes,No,Yes,Yes,No,Yes,No,Yes,No,No,...,No,No,No,Yes,No,Yes,Yes,No,No,Yes
Are you Vaccinated?,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes
Where do you live?,Urbun,Urbun,Urbun,Urbun,Rural,Urbun,Urbun,International,Rural,International,...,International,Urbun,Urbun,Urbun,Rural,Rural,Urbun,Urbun,Urbun,Urbun
Research/Working experience (Float/Int) years,5,1,5.5,5,3.5,15,0,4,0.5,0.5,...,1.5,0,0,0.5,2,7,5,0,2,3
Age (years)-Float/Int,38,25,31.34,33,27,36,0,27,22.2,24,...,28,22,24,30,24,28,33,22.8,29,31
Your Weight in kg? (float),77,53.6,93,60,59.9,99,58,100,76.8,84,...,85,48,60,75.55,70,70.5,83.4,60,86,54.5
Height in cm? Freelancer- (Float),179,178,173,157,164.544,178,180.34,187,1.75,183,...,178,160,175,167.65,178,178.5,172.7,1.68,180,161.544
"How many hours you code a day? (int) e.g: 5,4,3",3,2,2,3,6,1,1,3,3,3,...,4,3,2,10,3,4,1,0,2,3
Light kitni der band hti hy? int,2,6,0,24,12,0,2,0,0,0,...,0,6,0,4,1,3,1,0,1,0

In [43]:
#row wise selection
data[0:4]

,Gender,Location,Age,Qualification_completed,field_of_study,Purpose_for_chilla,What are you?,Blood group,Which mobile sim do you use,Prepaid or Postpaid,...,Your favorite programming language?,Marital Status?,Are you Vaccinated?,Where do you live?,Research/Working experience (Float/Int) years,Age (years)-Float/Int,Your Weight in kg? (float),Height in cm? Freelancer- (Float),"How many hours you code a day? (int) e.g: 5,4,3",Light kitni der band hti hy? int
0,Male,Pakistan,36-40,Masters,Natural Sciences,to boost my skill set,Unemplyed,B+,U-fone,Prepaid,...,Python,Yes,Yes,Urbun,5,38.00,77.0,179.0,3.0,2.0
1,Male,Pakistan,26-30,Bachelors,CS/IT,to boost my skill set,Student,B+,U-fone,Prepaid,...,Python,No,Yes,Urbun,1,25.00,53.6,178.0,2.0,6.0
2,Male,Pakistan,31-35,Masters,Enginnering,Switch my field of study,Employed,B+,Zong,Prepaid,...,Python,Yes,Yes,Urbun,5.5,31.34,93.0,173.0,2.0,0.0
3,Female,Pakistan,31-35,Masters,CS/IT,to boost my skill set,Employed,O+,U-fone,Postpaid,...,Python,Yes,Yes,Urbun,5,33.00,60.0,157.0,3.0,24.0

In [48]:
data.loc [:,["Age", "Location"]] #columnwisw section

       Age  Location
0    36-40  Pakistan
1    26-30  Pakistan
2    31-35  Pakistan
3    31-35  Pakistan
4    26-30  Pakistan
..     ...       ...
370  26-30  Pakistan
371  31-35  Pakistan
372  21-25  Pakistan
373  26-30  Pakistan
374  31-35  Pakistan

[375 rows x 2 columns]

In [49]:
##importing  FAO dataset
LU=pd.read_csv("FAO_LU_comparison.csv")
LU.head(4)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1961,1961,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
1,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1962,1962,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
2,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1963,1963,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
3,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1964,1964,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...

In [54]:
LU.dtypes

Domain Code          object
Domain               object
Area Code (FAO)       int64
Area                 object
Element Code          int64
Element              object
Item Code             int64
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
dtype: object

In [55]:
LU.loc [:,["Area", "Item"]]

          Area                                 Item
0     Cameroon                         Country area
1     Cameroon                         Country area
2     Cameroon                         Country area
3     Cameroon                         Country area
4     Cameroon                         Country area
...        ...                                  ...
2152  Pakistan  Agriculture area actually irrigated
2153  Pakistan  Agriculture area actually irrigated
2154  Pakistan  Agriculture area actually irrigated
2155  Pakistan  Agriculture area actually irrigated
2156  Pakistan  Agriculture area actually irrigated

[2157 rows x 2 columns]

In [60]:
LU.iloc[3] #specific position data

Domain Code                                                        RL
Domain                                                       Land Use
Area Code (FAO)                                                    32
Area                                                         Cameroon
Element Code                                                     5110
Element                                                          Area
Item Code                                                        6600
Item                                                     Country area
Year Code                                                        1964
Year                                                             1964
Unit                                                          1000 ha
Value                                                           47544
Flag                                                                Q
Flag Description    Official data reported on FAO Questionnaires f...
Name: 3, dtype: object

In [61]:
LU.iloc[0:5,0:3] #rows to column data filter

  Domain Code    Domain  Area Code (FAO)
0          RL  Land Use               32
1          RL  Land Use               32
2          RL  Land Use               32
3          RL  Land Use               32
4          RL  Land Use               32

In [63]:
LU[LU["Year"]>2000] #Boolean operators in pandas

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
40,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,2001,2001,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
41,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,2002,2002,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
42,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,2003,2003,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
43,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,2004,2004,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
44,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,2005,2005,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2015,2015,1000 ha,18730.0,Q,Official data reported on FAO Questionnaires f...
2153,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2016,2016,1000 ha,18601.0,Q,Official data reported on FAO Questionnaires f...
2154,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2017,2017,1000 ha,18220.0,Q,Official data reported on FAO Questionnaires f...
2155,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2018,2018,1000 ha,19320.0,W,Data reported on country official publications...
2156,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2019,2019,1000 ha,19320.0,W,Data reported on country official publications...

In [71]:
LU_PAK=LU[LU["Area"]=="Pakistan"]
LU_PAK

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
1694,RL,Land Use,165,Pakistan,5110,Area,6600,Country area,1961,1961,1000 ha,79610.0,Q,Official data reported on FAO Questionnaires f...
1695,RL,Land Use,165,Pakistan,5110,Area,6600,Country area,1962,1962,1000 ha,79610.0,Q,Official data reported on FAO Questionnaires f...
1696,RL,Land Use,165,Pakistan,5110,Area,6600,Country area,1963,1963,1000 ha,79610.0,Q,Official data reported on FAO Questionnaires f...
1697,RL,Land Use,165,Pakistan,5110,Area,6600,Country area,1964,1964,1000 ha,79610.0,Q,Official data reported on FAO Questionnaires f...
1698,RL,Land Use,165,Pakistan,5110,Area,6600,Country area,1965,1965,1000 ha,79610.0,Q,Official data reported on FAO Questionnaires f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2015,2015,1000 ha,18730.0,Q,Official data reported on FAO Questionnaires f...
2153,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2016,2016,1000 ha,18601.0,Q,Official data reported on FAO Questionnaires f...
2154,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2017,2017,1000 ha,18220.0,Q,Official data reported on FAO Questionnaires f...
2155,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2018,2018,1000 ha,19320.0,W,Data reported on country official publications...
2156,RL,Land Use,165,Pakistan,5110,Area,6611,Agriculture area actually irrigated,2019,2019,1000 ha,19320.0,W,Data reported on country official publications...

In [64]:
LU[LU["Year"]<2000]

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1961,1961,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
1,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1962,1962,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
2,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1963,1963,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
3,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1964,1964,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
4,RL,Land Use,32,Cameroon,5110,Area,6600,Country area,1965,1965,1000 ha,47544.0,Q,Official data reported on FAO Questionnaires f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2113,RL,Land Use,165,Pakistan,5110,Area,6680,Inland waters,1995,1995,1000 ha,2522.0,Fm,Manual Estimation
2114,RL,Land Use,165,Pakistan,5110,Area,6680,Inland waters,1996,1996,1000 ha,2522.0,Fm,Manual Estimation
2115,RL,Land Use,165,Pakistan,5110,Area,6680,Inland waters,1997,1997,1000 ha,2522.0,Fm,Manual Estimation
2116,RL,Land Use,165,Pakistan,5110,Area,6680,Inland waters,1998,1998,1000 ha,2522.0,Fm,Manual Estimation
2117,RL,Land Use,165,Pakistan,5110,Area,6680,Inland waters,1999,1999,1000 ha,2522.0,Fm,Manual Estimation

In [72]:
mean1 = LU['Value'].mean() #mean function
mean1

19435.188111914635

In [73]:
mean2 = LU_PAK['Value'].mean() #mean function
mean2

34583.710480561575